<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../css/style.css"/>
    <title>珍珠项链 1号店</title>
</head>
<body>
<!--网页头部-->
<header>
    <div class="soubg">
        <div class="sou fl">
            <div class="s_city_b">
                <span>送货至：四川</span>
            </div>
        </div>
        <div class="fr top_right">
            <div class="fl">
                你好!请<a href="#">登录</a>
                <a href="#" style="color:#ff4e00;">免费注册</a>&nbsp;|&nbsp;<a href="#">我的订单</a>&nbsp;|
            </div>
            <ul class="ss">
                <li class="ss_list">
                    <a href="#">收藏夹</a>
                </li>
                <li class="ss_list">
                    <a href="#">客户服务</a>

                    <div class="ss_list_bg">
                        <div class="ss_list_c">
                            <ul>
                                <li><a href="#">客户服务</a></li>
                                <li><a href="#">客户服务</a></li>
                                <li><a href="#">客户服务</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="ss_list">
                    <a href="#">网站导航</a>
                </li>
            </ul>
            <span class="fl">|&nbsp;关注我们：</span>
                <span class="s_sh">
                    <a href="#" class="sh1">新浪</a>
                    <a href="#" class="sh2">微信</a>
                </span>
                <span class="fr">|&nbsp;
                    <a href="#">手机版&nbsp;
                        <img src="../images/s_tel.png" align="absmiddle"/>
                    </a>
                </span>
        </div>
    </div>

    <div class="top">
        <div class="logo">
            <a href="#">
                <img src="../images/logo.png"/>
            </a>
        </div>
        <div class="search">
            <form>
                <input type="search" value="" placeholder="请输入关键字" class="s_ipt"/>
                <input type="submit" value="搜索" class="s_btn"/>
            </form>
            <div class="fl">
                <a href="#">咖啡</a>
                <a href="#">iphone 6S</a>
                <a href="#">新鲜美食</a>
                <a href="#">蛋糕</a>
                <a href="#">日用品</a>
                <a href="#">连衣裙</a>
            </div>
        </div>
        <div class="i_car">
            <div class="car_t">购物车</div>
        </div>
    </div>
</header>
<!--网页主体内容-->
<section class="center">
    <!--Begin Menu Begin-->
    <div class="menu_bg">
        <div class="menu">
            <!--Begin 商品分类详情 Begin-->
            <nav class="nav">
                <div class="nav_t">全部商品分类</div>
            </nav>
            <!--End 商品分类详情 End-->
            <nav>
                <ul class="menu_r">
                    <li class="active"><a href="">首页</a></li>
                    <li class="active"><a href="">自营超市</a></li>
                    <li><a href="">1号团</a></li>
                    <li><a href="">1号超市</a></li>
                    <li><a href="">女装</a></li>
                    <li><a href="">美妆</a></li>
                    <li><a href="">1号海购</a></li>
                    <li><a href="">团购</a></li>
                </ul>
            </nav>
            <a href="#" class="m_ad"><img src="../images/phone.png" alt=""/></a>
        </div>
    </div>
    <!--End Menu End-->
    <div class="i_bg">
        <div class="postion">
            <span class="fl">全部 > 珠宝饰品 > 珍珠项链 > </span>
        <span class="n_ch">
            <span class="fl">品牌：<i>珠韵首饰</i></span>
        </span>
        </div>
        <!--Begin 筛选条件 Begin-->
        <div class="content ">
            <table border="0" class="choice">
                <tr>
                    <td width="70">&nbsp; 品牌：</td>
                    <td class="td_a">
                        <a href="#" class="now">珠韵首饰/ZHUYUN JEWELLERY</a>
                        <a href="#">施华洛世奇/Swarovski</a>
                        <a href="#">海瞳</a>
                        <a href="#">周大福/CHOW TAI FOOK</a>
                        <a href="#">京润珍珠</a>
                        <a href="#">佰色传情 /BRI.R</a>
                        <a href="#">迈姿/Maizi</a>
                        <a href="#">Ginasy Jewelry</a>
                        <a href="#">心鑫圆</a>
                        <a href="#">银斯妮/yin si ni silver</a>
                        <a href="#">迈姿/Maizi</a>
                        <a href="#">Ginasy Jewelry</a>
                        <a href="#">蛟蓓</a>
                        <a href="#">芭比/Barbie</a>
                        <a href="#">珍福祥</a>
                        <a href="#">珍福祥</a>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp; 价格：</td>
                    <td class="td_a">
                        <a href="#">0-199</a>
                        <a href="#" class="now">200-399</a>
                        <a href="#">400-599</a>
                        <a href="#">600-899</a>
                        <a href="#">900-1299</a>
                        <a href="#">1300-1399</a>
                        <a href="#">1400以上</a>
                    </td>
                </tr>
                <tr>
                    <td>珍珠颜色：</td>
                    <td class="td_a">
                        <a href="#">混彩</a>
                        <a href="#">黑色系</a>
                        <a href="#">粉色系</a>
                        <a href="#">白色系</a>
                        <a href="#">金色系</a>
                        <a href="#">紫色系</a>
                    </td>
                </tr>
                <tr>
                    <td>珍珠分类：</td>
                    <td class="td_a">
                        <a href="#">天然海水珍珠</a>
                        <a href="#">养殖海水珍珠</a>
                        <a href="#">养殖淡水珍珠</a>
                        <a href="#">天然淡水珍珠</a>
                    </td>
                </tr>
            </table>
        </div>
        <!--End 筛选条件 End-->

        <div class="content ">
            <div class="l_history">
                <div class="his_t">
                    <span class="fl">浏览历史</span>
                    <span class="fr"><a href="#">清空</a></span>
                </div>
                <ul>
                    <li>
                        <div class="img"><a href="#"><img src="../images/his_1.jpg" /></a></div>
                        <div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                        <div class="price">
                            <span>￥368.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="img"><a href="#"><img src="../images/his_2.jpg" /></a></div>
                        <div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                        <div class="price">
                            <span>￥768.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="img"><a href="#"><img src="../images/his_3.jpg" /></a></div>
                        <div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                        <div class="price">
                            <span>￥680.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="img"><a href="#"><img src="../images/his_4.jpg" /></a></div>
                        <div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                        <div class="price">
                            <span>￥368.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="img"><a href="#"><img src="../images/his_5.jpg" /></a></div>
                        <div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                        <div class="price">
                            <span>￥368.00</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="l_list">
                <div class="list_t">
            	<span class="fl list_or">
                	<a href="#" class="now">默认</a>
                    <a href="#">
                        <span class="fl">销量</span>
                        <span class="i_up">销量从低到高显示</span>
                        <span class="i_down">销量从高到低显示</span>
                    </a>
                    <a href="#">
                        <span class="fl">价格</span>
                        <span class="i_up">价格从低到高显示</span>
                        <span class="i_down">价格从高到低显示</span>
                    </a>
                    <a href="#">新品</a>
                </span>
                    <span class="fr">共发现120件</span>
                </div>
                <div class="list_c">

                    <ul class="cate_list">
                        <li>
                            <div class="img"><a href="detail.html"><img src="../images/per_1.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥198.00</span>
                            </div>
                            <div class="name"><a href="detail.html">海瞳7-8mm水滴形天然珍珠项链</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_2.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥598.00</span>
                            </div>
                            <div class="name"><a href="#">佰色传情淡水珍珠项链圆8-9mm</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_3.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥440.00</span>
                            </div>
                            <div class="name"><a href="#">京润 【魅惑】海水珍珠项链</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_4.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥680.00</span>
                            </div>
                            <div class="name"><a href="#">心鑫圆 天然珍珠项链淡水套装</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_5.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥1980.00</span>
                            </div>
                            <div class="name"><a href="#">海瞳 明星款 玛瑙天然淡水珍珠</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_6.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥198.00</span>
                            </div>
                            <div class="name"><a href="#">佰色传情 淡水珍珠项链 </a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_7.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥390.00</span>
                            </div>
                            <div class="name"><a href="#">7-8mm米形珍珠 加长型 </a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_8.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥2980.00</span>
                            </div>
                            <div class="name"><a href="#">珠韵首饰 多色可选(白色)</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_9.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥670.00</span>
                            </div>
                            <div class="name"><a href="#">小清新8.5-10.5mm珍珠吊坠项链正圆饰品</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_10.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥2198.00</span>
                            </div>
                            <div class="name"><a href="#">京润 【简爱】 淡水珍珠项链</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_11.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥5198.00</span>
                            </div>
                            <div class="name"><a href="#">
                                海瞳 罕见7-8mm高亮泽 表皮光滑 </a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_12.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥212.00</span>
                            </div>
                            <div class="name"><a href="#"> 媲美海水珠 天然浅粉金色珍珠项链</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_5.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥618.00</span>
                            </div>
                            <div class="name"><a href="#">无暇品质(925银玫瑰花型银扣)</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_6.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥260.00</span>
                            </div>
                            <div class="name"><a href="#">珍珠吊坠925银镀金 淡水珍珠项链锁骨链</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_7.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥198.00</span>
                            </div>
                            <div class="name"><a href="#">海瞳 淡水珍珠项链锁骨链</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_8.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥698.00</span>
                            </div>
                            <div class="name"><a href="#">海瞳 淡水珍珠吊坠</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_9.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥198.00</span>
                            </div>
                            <div class="name"><a href="#"> 超强光珍珠吊坠项链</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_10.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥865.00</span>
                            </div>
                            <div class="name"><a href="#"> 节节高升花生款(玫瑰色款)</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_11.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥198.00</span>
                            </div>
                            <div class="name"><a href="#">佰色传情 编织款珍珠项链</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="../images/per_12.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥2198.00</span>
                            </div>
                            <div class="name"><a href="#">珠圆玉润 送爱人 </a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                    </ul>

                    <div class="pages">
                        <a href="#" class="p_pre">上一页</a>
                        <a href="#" class="cur">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <span>...</span>
                        <a href="#">20</a>
                        <a href="#" class="p_pre">下一页</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--网页底部-->
<footer class="center">
    <!-- Footer -->
    <div class="b_btm_bg b_btm_c">
        <ul class="b_btm">
            <li>
                <a><img src="../images/b1.png" width="62" height="62"/></a>
                <div><h2>正品保障</h2>正品行货 放心购买</div>
            </li>
            <li >
                <a><img src="../images/b2.png" width="62" height="62"/></a>
                <div><h2>满38包邮</h2>满38包邮 免运费</div>
            </li>
            <li>
                <a><img src="../images/b3.png" width="62" height="62"/></a>
                <div><h2>天天低价</h2>天天低价 畅选无忧</div>
            </li>
            <li>
                <a><img src="../images/b4.png" width="62" height="62"/></a>
                <div><h2>准时送达</h2>收货时间由你做主</div>
            </li>
        </ul>
    </div>
    <div class="b_nav">
        <dl>
            <dt><a href="#">新手上路</a></dt>
            <dd><a href="#">售后流程</a></dd>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">订购方式</a></dd>
            <dd><a href="#">隐私声明</a></dd>
            <dd><a href="#">推荐分享说明</a></dd>
        </dl>
        <dl>
            <dt><a href="#">配送与支付</a></dt>
            <dd><a href="#">货到付款区域</a></dd>
            <dd><a href="#">配送支付查询</a></dd>
            <dd><a href="#">支付方式说明</a></dd>
        </dl>
        <dl>
            <dt><a href="#">会员中心</a></dt>
            <dd><a href="#">资金管理</a></dd>
            <dd><a href="#">我的收藏</a></dd>
            <dd><a href="#">我的订单</a></dd>
        </dl>
        <dl>
            <dt><a href="#">服务保证</a></dt>
            <dd><a href="#">退换货原则</a></dd>
            <dd><a href="#">售后服务保证</a></dd>
            <dd><a href="#">产品质量保证</a></dd>
        </dl>
        <dl>
            <dt><a href="#">联系我们</a></dt>
            <dd><a href="#">网站故障报告</a></dd>
            <dd><a href="#">购物咨询</a></dd>
            <dd><a href="#">投诉与建议</a></dd>
        </dl>
        <div class="b_tel_bg">
            <a href="#" class="b_sh1">新浪微博</a>
            <a href="#" class="b_sh2">腾讯微博</a>

            <p>
                服务热线：<br/>
                <span>400-123-4567</span>
            </p>
        </div>
        <div class="b_er">
            <div class="b_er_c"><img src="../images/er.gif" /></div>
            <img src="../images/ss.png"/>
        </div>
    </div>
    <div class="btmbg">
        <div class="btm">
            备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com Copyright© 1号店网上超市 2007-2016，All Rights Reserved. 复制必究 ,
            Technical Support: Dgg Group <br/>
            <img src="../images/b_1.gif"/>
            <img src="../images/b_2.gif"/>
            <img src="../images/b_3.gif"/>
            <img src="../images/b_4.gif"/>
            <img src="../images/b_5.gif"/>
            <img src="../images/b_6.gif"/>
        </div>
    </div>
    <!--Footer -->
</footer>
</body>
</html>
